In [167]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [168]:
df = pd.read_csv('mutagenicity_kNN.csv')

In [169]:
df.head()

,Unnamed: 0,Id,CAS,SMILES,Status,Experimental value,Predicted value,NumValenceElectrons,qed,TPSA,MolMR,BalabanJ,BertzCT,MolWt,MolLogP
0,0,1,100-00-5,O=[N+]([O-])c1ccc(cc1)Cl,Training,1,1,52,0.463602,43.14,38.1064,3.003401,244.429658,157.556,2.2482
1,1,2,100-01-6,O=[N+]([O-])c1ccc(N)cc1,Training,1,1,52,0.359544,69.16,37.5088,3.003401,242.429658,138.126,1.1770
2,2,3,100-02-7,O=[N+]([O-])c1ccc(O)cc1,Training,0,1,52,0.470728,63.37,34.7612,3.003401,241.674771,139.110,1.3004
3,3,4,100-11-8,O=[N+]([O-])c1ccc(cc1)CBr,Training,1,0,58,0.432586,43.14,45.7274,2.913802,257.648013,216.034,2.4897
4,4,5,100-12-9,O=[N+]([O-])c1ccc(cc1)CC,Training,0,0,58,0.479785,43.14,42.4744,2.913802,253.299498,151.165,2.1572

In [170]:
df.isna().sum()

Unnamed: 0             0
Id                     0
CAS                    0
SMILES                 0
Status                 0
Experimental value     0
Predicted value        0
NumValenceElectrons    0
qed                    0
TPSA                   0
MolMR                  0
BalabanJ               0
BertzCT                0
MolWt                  0
MolLogP                0
dtype: int64

In [171]:
df.drop(columns=['Unnamed: 0'])

,Id,CAS,SMILES,Status,Experimental value,Predicted value,NumValenceElectrons,qed,TPSA,MolMR,BalabanJ,BertzCT,MolWt,MolLogP
0,1,100-00-5,O=[N+]([O-])c1ccc(cc1)Cl,Training,1,1,52,0.463602,43.14,38.1064,3.003401,244.429658,157.556,2.24820
1,2,100-01-6,O=[N+]([O-])c1ccc(N)cc1,Training,1,1,52,0.359544,69.16,37.5088,3.003401,242.429658,138.126,1.17700
2,3,100-02-7,O=[N+]([O-])c1ccc(O)cc1,Training,0,1,52,0.470728,63.37,34.7612,3.003401,241.674771,139.110,1.30040
3,4,100-11-8,O=[N+]([O-])c1ccc(cc1)CBr,Training,1,0,58,0.432586,43.14,45.7274,2.913802,257.648013,216.034,2.48970
4,5,100-12-9,O=[N+]([O-])c1ccc(cc1)CC,Training,0,0,58,0.479785,43.14,42.4744,2.913802,253.299498,151.165,2.15720
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5759,5767,20395-16-8,O=C1N(C(=O)N(C(=O)N1CC=C)CC2OC2)CC=C,Training,1,0,102,0.485090,78.53,69.3560,2.668492,627.435628,265.269,-1.05750
5760,5768,34718-47-3,O=C(C(Br)(Br)Br)Cl,Training,1,1,42,0.495987,17.07,40.3720,3.791118,85.425922,315.186,2.59030
5761,5769,43204-63-3,N(CCBr)CCBr,Training,1,1,44,0.568556,12.03,40.4577,2.447473,28.870765,230.931,1.36580
5762,5770,52583-35-4,N#Cc2cc(cc(c2(N=Nc1ccc(cc1(NC(=O)C))N(CCOC)CCO...,Training,1,1,184,0.264581,185.59,125.3525,2.552977,1169.342047,485.457,3.84768
5763,5771,188021-38-7,O(c1c(cc(cc1Br)C)C(C)(C)C)CC=C,Training,1,0,88,0.735392,9.23,73.2710,3.263016,388.457194,283.209,4.61982

In [172]:
df.columns

Index(['Unnamed: 0', 'Id', 'CAS', 'SMILES', 'Status', 'Experimental value',
       'Predicted value', 'NumValenceElectrons', 'qed', 'TPSA', 'MolMR',
       'BalabanJ', 'BertzCT', 'MolWt', 'MolLogP'],
      dtype='object')

In [188]:
df['Predicted value'].value_counts()

Predicted value
1                3309
0                2449
Non Predicted       6
Name: count, dtype: int64

In [173]:
df = df.drop(columns=['Unnamed: 0', 'Id', 'CAS', 'SMILES', 'Status'])
df

,Experimental value,Predicted value,NumValenceElectrons,qed,TPSA,MolMR,BalabanJ,BertzCT,MolWt,MolLogP
0,1,1,52,0.463602,43.14,38.1064,3.003401,244.429658,157.556,2.24820
1,1,1,52,0.359544,69.16,37.5088,3.003401,242.429658,138.126,1.17700
2,0,1,52,0.470728,63.37,34.7612,3.003401,241.674771,139.110,1.30040
3,1,0,58,0.432586,43.14,45.7274,2.913802,257.648013,216.034,2.48970
4,0,0,58,0.479785,43.14,42.4744,2.913802,253.299498,151.165,2.15720
...,...,...,...,...,...,...,...,...,...,...
5759,1,0,102,0.485090,78.53,69.3560,2.668492,627.435628,265.269,-1.05750
5760,1,1,42,0.495987,17.07,40.3720,3.791118,85.425922,315.186,2.59030
5761,1,1,44,0.568556,12.03,40.4577,2.447473,28.870765,230.931,1.36580
5762,1,1,184,0.264581,185.59,125.3525,2.552977,1169.342047,485.457,3.84768
5763,1,0,88,0.735392,9.23,73.2710,3.263016,388.457194,283.209,4.61982

In [174]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, f1_score, confusion_matrix

In [175]:
X = df.drop(columns=['Experimental value', 'Predicted value'])  # Features
y = df['Experimental value']

In [176]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [177]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

In [178]:
param_grid = {'n_neighbors': list(range(1, 21)),  # Test k from 1 to 20
              'metric': ['euclidean', 'manhattan', 'chebyshev']}  # Different distance metrics

grid_search = GridSearchCV(KNeighborsClassifier(), param_grid, cv=5, scoring='f1', n_jobs=-1)
grid_search.fit(X_train, y_train)

# Best model
best_knn = grid_search.best_estimator_

# Step 5: Model Evaluation
y_pred = best_knn.predict(X_test)

In [179]:
df['New Predicted value'] = best_knn.predict(scaler.transform(X))
df.head()

,Experimental value,Predicted value,NumValenceElectrons,qed,TPSA,MolMR,BalabanJ,BertzCT,MolWt,MolLogP,New Predicted value
0,1,1,52,0.463602,43.14,38.1064,3.003401,244.429658,157.556,2.2482,1
1,1,1,52,0.359544,69.16,37.5088,3.003401,242.429658,138.126,1.1770,1
2,0,1,52,0.470728,63.37,34.7612,3.003401,241.674771,139.110,1.3004,0
3,1,0,58,0.432586,43.14,45.7274,2.913802,257.648013,216.034,2.4897,1
4,0,0,58,0.479785,43.14,42.4744,2.913802,253.299498,151.165,2.1572,1

In [180]:
df.isna().sum()

Experimental value     0
Predicted value        0
NumValenceElectrons    0
qed                    0
TPSA                   0
MolMR                  0
BalabanJ               0
BertzCT                0
MolWt                  0
MolLogP                0
New Predicted value    0
dtype: int64

In [181]:
f1 = f1_score(y_test, y_pred)
print(f"F1-Score: {f1:.4f}")

# Classification Report (Includes precision, recall, accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))

# Best hyperparameters
print(f"Best Hyperparameters: {grid_search.best_params_}")

F1-Score: 0.7268
Classification Report:
              precision    recall  f1-score   support

           0       0.65      0.60      0.63       761
           1       0.71      0.75      0.73       969

    accuracy                           0.68      1730
   macro avg       0.68      0.68      0.68      1730
weighted avg       0.68      0.68      0.68      1730

Best Hyperparameters: {'metric': 'euclidean', 'n_neighbors': 19}

In [187]:
matches = (df['Experimental value'] == df['New Predicted value']).sum()

# Calculate the matching percentage
total_instances = len(df)
matching_percentage = (matches / total_instances) * 100

print(f"Matching Percentage: {matching_percentage:.2f}%")

Matching Percentage: 72.26%

In [185]:
df.head()

,Experimental value,Predicted value,NumValenceElectrons,qed,TPSA,MolMR,BalabanJ,BertzCT,MolWt,MolLogP,New Predicted value
0,1,1,52,0.463602,43.14,38.1064,3.003401,244.429658,157.556,2.2482,1
1,1,1,52,0.359544,69.16,37.5088,3.003401,242.429658,138.126,1.1770,1
2,0,1,52,0.470728,63.37,34.7612,3.003401,241.674771,139.110,1.3004,0
3,1,0,58,0.432586,43.14,45.7274,2.913802,257.648013,216.034,2.4897,1
4,0,0,58,0.479785,43.14,42.4744,2.913802,253.299498,151.165,2.1572,1

In [186]:
df.isna().sum()

Experimental value     0
Predicted value        0
NumValenceElectrons    0
qed                    0
TPSA                   0
MolMR                  0
BalabanJ               0
BertzCT                0
MolWt                  0
MolLogP                0
New Predicted value    0
dtype: int64